.asd{background:url(http://i1.static.dp/s/c/i/bg.png);}
.abc{background-image:url(http://i1.static.dp/s/c/i/c.app.v1.png);}
.abcdd{background-image:url(http://i1.static.dp/s/i/bg.png);}
.sd{background:url('http://i2.static.dp/s/c/i/bg.png');}
